<!-- About me Section -->
    <section id="aboutme">
        <div class="container">
            
           <!--     <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">I am a PhD researcher who loves finding new ways to leverage data analytics, machine learning and AI techniques.</h3>  
                
                </div>
            </div> -->
            

            <div class="personal-pic">
                  
                  <figure>
                    <p> <img src="img/markos-reverse-expo.jpg" class="img-responsive img-circle" width="270" height="370">
                    <figcaption><strong> Markos Viggiato </strong>

                        <ul class="list-inline social-buttons">
            
                            <li>
                                <a href="https://www.linkedin.com/in/markosviggiato/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://github.com/markosviggiato">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://twitter.com/viggiato">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </figcaption>
                  </figure>

            </div>

             <div class="about-me">
                <h2> About Me </h2>
                <p style="text-align:justify" class="section-content"> I am currently a PhD candidate at the Analytics of Software, GAmes And Repository Data (<a href="http://asgaard.ece.ualberta.ca/" target="_blank">ASGAARD</a>) lab, at the University of Alberta (expected graduation date: December/2022).
                     I received my M.Sc. degree in Computer Science and the B.E. degree in Control and Automation Engineering from the Federal University of Minas Gerais (UFMG), Brazil. </br>
					 My experience with industry research has enabled me to develop critical thinking and solve complex problems with solutions that are feasible in the real world. 
					 I am eager to advance and apply my data analytics, ML, and NLP skills to support and help people from different industries.
                </p>

            </div> 

        </div>
    </section>