<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#aboutme">About Me</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#research">Research</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#publications">Publications</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cv">CV</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To My Website!</div>
                <a href="#aboutme" class="page-scroll btn btn-xl">About Me</a>  
               <!-- <img alt="" src="img/markos-reverse-expo.jpg" class="img-responsive img-circle" width="300" height="400"  style="float:left"> -->
               <!--  <div style="width:300; font-size:80%; text-align:center;"><img alt="" src="img/markos-reverse-expo.jpg" class="img-responsive img-circle" width="300" height="400"  style="float:left">This is my caption</div> -->
        <figure>
          <p> <img src="img/markos-reverse-expo.jpg" class="img-responsive img-circle" width="300" height="400">
          <figcaption><strong> Markos Viggiato </strong>

            <ul class="list-inline social-buttons">
            
            <li>
                <a href="https://www.linkedin.com/in/markosviggiato/">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>

            <li>
                <a href="https://github.com/markosviggiato">
                    <i class="fa fa-github"></i>
                </a>
            </li>

            <li>
                <a href="https://twitter.com/viggiato">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            
            </ul>


          </a></figcaption>
        </figure>
            </div>
        </div>


    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

