<!-- Research Section -->
    <section id="publications" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                    
                    <a href="https://scholar.google.com/citations?user=RPZ154QAAAAJ&hl=en" target="_blank"> <h5> Google Scholar profile </h5> </a> </br>

                    <!-- 2020 PUBLICATIONS -->
                    <div style="text-align: left" class="publication">
                        
                         <h2> 2020 </h2>
                         <br>
                         <a href="/resources/Markos_AIIDE20_camera_ready.pdf" target="_blank">Trouncing in Dota 2: An Investigation of Blowout Matches</a>
                         <br>
                         <u>Markos Viggiato</u>, Cor-Paul Bezemer
                         <br>
                        <em> The 16th AAAI Conference on Artificial Intelligence and Interactive Digital Entertainment (AIIDE 2020), Worcester, USA (to be held virtually due to covid 19) </em>
                    </div>
                    
                    <br>
                    
                    <div style="text-align: left" class="publication">
                         <a href="/resources/Fischer_Markos_SPLC_20.pdf" target="_blank">Testing Configurable Software Systems: The Failure Observation Challenge</a>
                         <br>
                         Fischer Ferreira, <u>Markos Viggiato</u>, Mauricio Souza, Eduardo Figueiredo
                         <br>
                        <em> The 24th International Systems and Software Product Line Conference (SPLC 2020), Montreal, Canada (to be held virtually due to covid 19) </em>
                    </div>

                    <!-- 2019 PUBLICATIONS -->
                    <div style="text-align: left" class="publication">
                        
                         <h2> 2019 </h2>
                         <br>
                         <a href="/resources/Geanderson_Markos_ICMLA_19.pdf" target="_blank">Feature Changes in Source Code for Commit Classification Into Maintenance Activities</a>
                         <br>
                         Richard V. R. Mariano, Geanderson E. dos Santos, <u>Markos Viggiato</u>, Wladmir C. Brandao
                         <br>
                        <em> The 18th International Conference on Machine Learning and Applications (ICMLA 2019), Boca Raton, USA </em>
                    </div>

                    <br>

                     <div style="text-align: left" class="publication">
                        
                         <a href="/resources/Markos_ICSME_19.pdf" target="_blank">How Do Code Changes Evolve in Different Platforms? A Mining-based Investigation</a>
                         <br>
                         <u>Markos Viggiato</u>, Johnatan Oliveira, Eduardo Figueiredo, Pooyan Jamshidi, Christian Kastner
                         <br>
                        <em> The 35th International Conference on Software Maintenance and Evolution (ICSME 2019), Cleveland, USA </em>
                    </div>       
                    
                    <br>

                     <div style="text-align: left" class="publication">
                        
                         <a href="/resources/Johnatan_Markos_SBQS_19.pdf" target="_blank">How Well Do You Know This Library? Mining Experts from Source Code Analysis</a>
                         <br>
                         Johnatan Oliveira, <u>Markos Viggiato</u>, Eduardo Figueiredo
                         <br>
                        <em> The 18th Brazilian symposium on Software Quality (SBQS 2019), Fortaleza, Brazil </em>
                    </div>  

                    <br>

                     <div style="text-align: left" class="publication">
                        
                         <a href="/resources/Markos_ICGSE_19.pdf" target="_blank">Understanding Similarities and Differences in Software Development Practices Across Domains</a>
                         <br>
                         <u>Markos Viggiato</u>, Johnatan Oliveira, Eduardo Figueiredo, Pooyan Jamshidi, Christian Kastner
                         <br>
                        <em> The 14th International Conference on Global Software Engineering (ICGSE 2019), Montreal, Canada </em>
                    </div>  

                    <!-- 2018 PUBLICATIONS -->
                    <div style="text-align: left" class="publication">
                        
                         <h2> 2018 </h2>
                         <br>
                         <a href="/resources/Allan_Markos_techdebt_18.pdf" target="_blank">Evaluating Domain-Specific Metric Thresholds: An Empirical Study </a>
                         <br>
                         Allan Mori, Gustavo Vale, <u>Markos Viggiato</u>, Johnatan Oliveira, Eduardo Figueiredo, Elder Cirilo, Pooyan Jamshidi, Christian Kastner
                         <br>
                        <em> The 1st International Conference on Technical Debt (TechDebt 2018), Gothenburg, Sweden </em>
                    </div>

                    <br>

                    <div style="text-align: left" class="publication">
                        
                         <a href="/resources/Johnatan_Markos_seke_18.pdf" target="_blank">An Empirical Study on the Impact of Android Code Smells on Resource Usage </a>
                         <br>
                         Johnatan Oliveira, <u>Markos Viggiato</u>, Mateus Santos, Eduardo Figueiredo, Humberto Marques-Neto
                         <br>
                        <em> The 30th International Conference on Software Engineering and Knowledge Engineering (SEKE 2018), Redwood City, San Francisco Bay, USA </em>
                    </div>

                    <br>

                     <div style="text-align: left" class="publication">
                        
                         <a href="/resources/Markos_VEM_18.pdf" target="_blank">Microservices in Practice: A Survey Study </a>
                         <br>
                         <u>Markos Viggiato</u>, Ricardo Terra, Henrique Rocha, Marco Tulio Valente, Eduardo Figueiredo
                         <br>
                        <em> The 6th Workshop on Software Visualization, Evolution and Maintenance (VEM 2018), Sao Carlos, Brazil </em>
                    </div>

                    <br>

                    <!-- 2017 PUBLICATIONS -->
                    <div style="text-align: left" class="publication">
                        <h2> 2017 </h2>
                        <br>
                         <a href="/resources/Markos_INFOCOMP_2017.pdf" target="_blank">On the Investigation of Domain-Sensitive Bad Smells in Information Systems (Extended version) </a>
                         <br>
                         <u>Markos Viggiato</u>, Johnatan Oliveira, Cleiton Tavares, Eduardo Figueiredo
                         <br>
                        <em> INFOCOMP Journal of Computer Science (2017) </em>
                    </div>
                    
                    <br>

                    <div style="text-align: left" class="publication">
                         <a href="/resources/Markos_SBSI_17.pdf" target="_blank">On the Investigation of Domain-Sensitive Bad Smells in Information Systems </a>
                         <br>
                         <u>Markos Viggiato</u>, Johnatan Oliveira, Eduardo Figueiredo
                         <br>
                        <em> The 13th Brazilian Symposium on Information Systems (SBSI 2017), Lavras, Brazil </em>
                    </div>

                   




                <!--    <ul class="papers">
                            <li>
                                <span> <a href="/resources/Markos_AIIDE_20.pdf" target="_blank">Trouncing in Dota 2: An Investigation of Blowout Matches.</a> </span> </br>
                                Markos Viggiato, Cor-Paul Bezemer
                            </li>

                            <li>
                                <span> <a href="/resources/Fischer_Markos_SPLC_20.pdf" target="_blank">Testing Configurable Software Systems: The Failure Observation Challenge.</a> </span>
                            </li>

                            <li>
                                <span> <a href="/resources/Markos_ICSME_19.pdf" target="_blank">How Do Code Changes Evolve in Different Platforms? A Mining-based Investigation.</a> </span>
                            </li>
                    </ul>  -->

                 <!--   <h2 text-align:"left" class="publications"> 2020 </h2> </br></br></br>
                   
                        <ul class="papers">
                            <li>
                                <span> <a href="/resources/Markos_ICSME_19.pdf" target="_blank">Code changes.</a> </span>
                            </li>
                        </ul> -->
                    
                    


                    
                    

                
                </div>       
            </div>
        </div> 
    </section>