<!-- Research Section -->
    <section id="publications" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                    <h3 class="section-subheading text-muted">My publications.</h3>

                    <a href="/resources/Markos_ICSME_19.pdf" target="_blank">PDF.</a>

                    you can [get the PDF]({{ site.url }}/resources/Markos_ICSME_19.pdf) directly.
                
                </div>
            </div>
        </div>
    </section>