<!-- Research Section -->
    <section id="research" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    
                    <p style="text-align:justify" class="section-content"> 
                    My research interests include data science, machine learning, and artifical intelligence applied to different industry segments, such as the gaming and the software development segments. Overall, I am interested
                    in leveraging those techniques with publicly available data to better understand the state-of-the-practice and obtain actionable insights. </p> </br> </br>

                    <div style="display:inline-block;text-align:left"><a><img align="left" src="img/joystick.jpg" class="img-responsive img-circle"  width="150" height="300"></a>
                     
                     <p style="text-align:justify" class="text-image"> In my Ph.D., I have conducted research in applied machine learning and data analytics using computer game data, such as game logs and user-provided game reviews.
                     The main goal of my Ph.D. is to enable more effective approaches to leverage publicly available game data to improve data analytics techniques. </p> </br></br>
                     
                     </div>


                     <div style="display:inline-block;text-align:left"><a><img align="left" src="img/octocat.png" class="img-responsive img-circle"  width="150" height="240"></a>
                     
                     <p style="text-align:justify" class="text-image"> During my M.Sc., I mined hundreds of GitHub projects and leveraged machine learning and statisical techniques to understand how developers perform code changes
                     in mobile and non-mobile platforms. I also conducted interviews and surveys to investigate how software development practices vary across different industry segments, such as healthcare,
                     games and financial segments. </p> </br></br>
                     
                     </div>
                    


                    

                    

                   
                </div>
            </div>
        </div>
    </section>