<!-- Research Section -->
    <section id="research" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    
                    <p style="text-align:justify" class="section-content"> 
                    My research interests include data science, applied machine learning, and natural language processing and understanding. Overall, I am interested
                    in leveraging those techniques together with large-scale data to better understand how manual game testing can be more effective and efficient. </p> </br> </br>

                    <div style="display:inline-block;text-align:left"><a><img align="left" src="img/prodigylogo.png" class="img-responsive img-circle"  width="150" height="300"></a>
                     
                     <p style="text-align:justify" class="text-image"> In my Ph.D., I have been working as part of the data team at Prodigy Education as an NLP intern. I have 
					 investigated how to leverage ML and NLP techniques together with large-scale game data to automatically extract knowledge from existing testing 
					 scenarios in natural language and to build a pipeline to automatically improve newly-created test descriptions.</p> </br></br>
                     
                     </div>


                     <div style="display:inline-block;text-align:left"><a><img align="left" src="img/octocat.png" class="img-responsive img-circle"  width="150" height="240"></a>
                     
                     <p style="text-align:justify" class="text-image"> During my M.Sc., I mined hundreds of GitHub projects and leveraged machine learning and statisical techniques to understand how developers perform code changes
                     in mobile and non-mobile platforms. I also conducted interviews and surveys to investigate how software development practices vary across different industry segments, such as healthcare,
                     games and financial segments. </p> </br></br>
                     
                     </div>
                    


                    

                    

                   
                </div>
            </div>
        </div>
    </section>